<div class="container">
  <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="row w-100 border shadow-lg" style=" border-radius: 20px; background-color: ghostwhite;">

      <div class="col p-0 small" *ngIf="screen.scrWidth < 991; else elseblock">
        <div class="p-3 border-bottom"
          style="height: 63px !important; min-height: 63px !important; max-height: 63px !important;">
          <img
            src="https://images.unsplash.com/photo-1616608200010-aeb69b842266?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80"
            alt="" height="30px" width="30px" class=" rounded-circle img cursor">
        </div>
        <div class="main-chat-section-small">
          <div class="chat d-flex py-2 card-icon ms-3 align-items-center " *ngFor="let profile of chat;"
            [class.selected-small]="activeChat?.id == profile?.id" (click)="selectChat(profile.id)">
            <img src="{{profile.img}}" class="rounded-circle" alt="" height="35px" width="35px">
          </div>
        </div>
      </div>

      <ng-template #elseblock>
      <div class="col-4 p-0 ">
        <div class="d-flex p-3 border-bottom align-items-center" style="height: 63px;">
          <img src="https://images.unsplash.com/photo-1616608200010-aeb69b842266?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80" alt="" height="30px" width="30px" class=" rounded-circle img cursor">
          <div class="d-flex justify-content-between col-10">
            <p class="m-0 ms-2">Messaging</p>
            <span class="card-icon cursor" 
            aria-hidden="true">•••</span>
          </div>
        </div>
        <div class="py-3">
          <div class="d-flex px-3">
            <input type="text" class="col-12 search fontAwesome mb-2" placeholder="&#xf002; Search Message">
          </div>
          <div class="main-chat-section">
              <div class="chat d-flex py-2 card-icon ms-4 align-items-center " *ngFor="let profile of chat;" [class.selected]="activeChat?.id == profile?.id" (click)="selectChat(profile.id)">
                  <img src="{{profile.img}}" class="rounded-circle" alt="" height="40px" width="40px">
                  <div class="chat-message d-flex flex-column">
                      <p class="m-0 ms-2 me-1 fw-bold chat-name cursor">{{profile.name}}</p>
                      <p class="m-0 ms-2 me-1 text-muted chat-text">{{profile.message}}</p>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </ng-template>


      <div class="col border-start d-flex flex-column px-0">
        <div class="border-bottom"
          style="height: 63px !important; min-height: 63px !important; max-height: 63px !important;">
          <div class="chat-message-user m-2">
            <p class="m-0 ms-2 me-4 fw-bold chat-name cursor">{{activeChat.name}}</p>
            <p class="m-0 ms-2 me-4 text-muted chat-text">{{activeChat.name}}</p>
          </div>
        </div>
        <div class="user-chat">
          <div class="user-message-row your-message" *ngFor="let m of activeChat?.messages"
            [ngClass]="{'your-message':m.you,'others-message':!m.you}">
            <div class="message-text">{{m.text}}</div>
            <div class="message-time">{{m.time}}</div>
          </div>
        </div>
        <div class="user-input d-inline-flex align-items-center px-3">
          <i class="fa fa-smile-o me-3 cursor"  style="font-size: 25px;" (click)="openEmoji()">
            <emoji-mart *ngIf="showEmoji" [style]="{ position: 'absolute', bottom: '20px', left: '20px'}" [showPreview]=false ></emoji-mart>
          </i>
          <textarea type="text" class="form-control" placeholder="Write a Message" rows="2" wrap="soft"></textarea>
          <a href="#" class="col"><img src="assets/icon.svg" alt="" height="35px"></a>
        </div>
      </div>

      <!-- <div class="col-9 border-start px-0 d-flex flex-column justify-content-between" *ngIf="activeChat">
        <div class="border-bottom d-flex p-2 justify-content-between align-items-center" style="height: 63px !important;">
          <div class="chat-message-user d-flex flex-column">
            <p class="m-0 ms-2 me-4 fw-bold chat-name cursor">{{activeChat.name}}</p>
            <p class="m-0 ms-2 me-4 text-muted chat-text">{{activeChat.name}}</p>
          </div>
          <div></div>
        </div>
        <div class="user-chat h-100">
          <div class="user-message-row your-message" *ngFor="let m of activeChat?.messages" 
          [ngClass]="{'your-message':m.you,'others-message':!m.you}">
            <div class="message-text">{{m.text}}</div>
            <div class="message-time">{{m.time}}</div>
          </div>
          
        </div>
        <div class="user-input d-flex px-3 align-items-center">
          <i class="fa fa-smile-o me-3" style="font-size: 25px;"></i>
          <textarea type="text" class="form-control "  placeholder="Write a Message" rows="2" wrap="soft"></textarea>
          <a href="#"><img src="assets/icon.svg" alt="" height="35px"></a>
        </div>
      </div> -->
    </div>
  </div>
</div>

<app-message-window></app-message-window>